<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Arduinos</title>
    <%- include('../partials/cdn_head/_cdn_head') %>
    
</head>

<body>
    <%- include('../partials/navbar/_navbar') %>
        <%- include('../partials/modals/_modal_arduinos') %>
        <%- include('../partials/modals/_modal_sensor') %>
        <%- include('../partials/modals/_modal_variedad') %>
        <%- include('../partials/modals/_modal_corte') %>
        <%- include('../partials/modals/_modal_clase') %>
        <%- include('../partials/modals/_modal_finca') %>
        <%- include('../partials/modals/_modal_etapa') %>
        <%- include('../partials/modals/_modal_tipo') %>
        <%- include('../partials/modals/_modal_proceso') %>
        <%- include('../partials/modals/_modal_correo') %>
        <%- include('../partials/modals/_modal_login_correo') %>
        <%- include('../partials/modals/_modal_informacion_login') %>
            <div  class="mt-2 toggle-div">
                <label id="showcolumns" for="">Show/Hide columns: </label><a id="showardu" class="toggle-vis" data-column="0">Nombre del sensor</a>&nbsp;
                <a class="toggle-vis" data-column="1">Dirección DS18B20</a>&nbsp;
              
                <a class="toggle-vis" data-column="3">ID sensor</a>&nbsp;
            </div>

            <main class="col-md-10 ms-sm-auto col-lg-12 px-md-4 mt-2">
                <div class="table-responsive small justify-content-sm-center">
                    <table id="mitabla" class="display table table-striped table-sm table-bordered">
                        <thead class="table-success">
                            <tr>
                                <th  scope="col">Nombre del sensor</th>
                                <th scope="col">Dirección DS18B20</th>
                               
                                <th scope="col">ID arduino</th>
                                <th  scope="col">Opciones</th>
                            </tr>
                        </thead>
                        <tbody id="sensoresList">
                            <!-- Records will be added here dynamically -->
                        </tbody>
                    </table>
                </div>
            </main>

            <!-- SCRIPTS -->
            <script src="/resources/js/_arduino_scripts.js"></script>
            <script src="/resources/js/language/_language_change.js" ></script>     

       <script src="/resources/js/_sensor_scripts.js"></script>

          

            <script src="/resources/js/language/_language_arduinos.js"></script> 
            <script src="/resources/js/language/_language_save.js"></script>
 

            
            <script src="/resources/js/_correo_scripts.js"></script>
            <script src="/resources/js/_login_correo_scripts.js"></script>
</body>

</html>